
body, h1, h2, section, i, a, img {
    margin: 0;
    padding: 0;
}
h1{
    color:aqua;
}

body { 
    font-family: Arial, sans-serif;
    background-color: rgba(165, 42, 42, 0.884);
    color: black;
    text-align: left;
} 

header {
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

main {   
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
}

section {
    color: white;
}
i{
    color: yellow;
}
a{
    color: red;
}
ul, ol{
    padding-left: 20px;
}
img{
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    margin: 10px;
    max-width: 100%;
    height: auto;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    img {
        display: block;
        margin: 0 auto;
    }
}
